<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<!-- 01. 회원록록 -->
	<select id="memberList" resultType="com.hompage.app.member.model.dto.MemberVO">
		SELECT 
		  userId, 
		  userName,
		  userEmail,
		  userRegdate
		FROM member
		ORDER BY userId
	</select>
	
	<!-- 02. 회원 등록 -->
	<insert id="insertMember">
	INSERT INTO member
	(userId,userPw,userName,userEmail)
	VALUES(#{userId},#{userPw},#{userName},#{userEmail})
	</insert>
	
	<!-- 03. 회원정보 상세조회 -->
	<select id="viewMember" resultType="com.hompage.app.member.model.dto.MemberVO">
	SELECT 
		  userId, 
		  userName,
		  userEmail,
		  userRegdate
	
		FROM member
		WHERE userId=#{userId}
	
	</select>
	<!-- 04. 회원정보 수정 -->
	<update id="updateMember">
	UPDATE member
	SET
	userPw=#{userPw},
	userName=#{userName},
	userEmail=#{userEmail}
	WHERE
	userId=#{userId}
	</update>
	<!-- 05. 회원정보 삭제 처리 -->
	<delete id="deleteMember">
		DELETE FROM member
		WHERE userId = #{userId}
	</delete>
	
	<!-- 06. 비밀번호 체크 -->
	<select id="checkPw" resultType="int">
		SELECT 
			COUNT(*) 
		FROM member
		WHERE userId = #{userId} AND userPw = #{userPw}
	</select>
		
	</mapper>
	
	